<div mat-dialog-title>
  <h1>Ajouter un Prospect</h1>
</div>

<style>
  .content {
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .mat-form-field {
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
</style>
<div class="main">
  <form [formGroup]="prospectForm" >
  <div mat-dialog-content class="content">
    <h1>Informations Personnelles</h1>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input
          matInput
          type="text"
          formControlName="nom"
          
          placeholder="Nom du prospect"
        />
        <mat-error *ngIf="prospectForm.get('nom')?.invalid && prospectForm.get('nom')?.touched">
          {{dataService.getErrorMessage('Nom',prospectForm.controls['nom'].errors)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Carte National</mat-label>
        <input
          matInput
          type="text"
          formControlName="cin"
        
          placeholder="CIN"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
        <input
          matInput
          type="text"
          formControlName="telephone"
          
          placeholder="GSM"
        />
        <!-- <mat-error *ngIf="prospectForm.get('telephone')?.invalid && prospectForm.get('telephone')?.touched">
        Le Téléphone doit contenir 10 chiffres
        </mat-error> -->
      </mat-form-field>
    </div>&nbsp;
    <h1>Formation et Niveau Academique</h1>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Date de naissance </mat-label>
        <input
          matInput
          type="date"
          formControlName="dateNaissance"
          
          placeholder="Date de naissance"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Langues </mat-label>
        <input
          matInput
          type="text"
          formControlName="langue"
          
          placeholder="Langues"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Adresse mail</mat-label>
        <input
          matInput
          type="text"
          formControlName="email"
          
          placeholder="Email"
        />
      </mat-form-field>
      
      
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Secteur D'activité</mat-label>
        <input
          matInput
          type="text"
          formControlName="secteuractivite"
         
          placeholder="Secteur d'activité"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Niveau académique</mat-label>
        <input
          matInput
          type="text"
          formControlName="niveauacademique"
         
          placeholder="Niveau académique"
         />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Année d'expérience</mat-label>
        <input
          matInput
          type="text"
          formControlName="anneeexperience"
          
          placeholder="Années d'expériences"
        />
      </mat-form-field>
    </div>
    <h1>Compétences & Expériences  </h1>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Compétence métier</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="competencemetier"
          
          placeholder="Compétence Métier"
          style="height: 90px"
          ></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Compétence technique</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="competencetechnique"
          
          placeholder="Compétence technique"
          style="height: 90px"
          ></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Projet Professionnel</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="projetprofessionnel"
          
          placeholder="Projet Professionnel"
          style="height: 90px"
          ></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Expérience professionnelle</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="experienceprofessionnelle"
         
          placeholder="Expérience Professionnelle"
          style="height: 90px"
          ></textarea>
      </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Certifications</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="certification"
       
        placeholder="Certifications "
        style="height: 90px"
        ></textarea>
    </mat-form-field>
  </div>
  <div class="row">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Formation</mat-label>
    <input
      matInput
      type="text"
      formControlName="formation"
      
      placeholder="Formation"
      style="height: 90px"
    />
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Disponibilité</mat-label>
    <input
      matInput
      type="text"
      formControlName="disponibilite"
      
      placeholder="Disponibilité"
      style="height: 90px"
    />
  </mat-form-field>
</div>
    
  </div>


<div mat-dialog-actions>
  <button [disabled]="prospectForm.invalid" mat-raised-button color="primary" (click)="save()">
    Sauveguarder
  </button>
  <button mat-raised-button color="warn" (click)="close()">Annuler</button>
  </div>
  </form>
</div>
