<div mat-dialog-title>
  <h1>Ajouter un Consultant</h1>
</div>

<style>
  .content {
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .mat-form-field {
    width: 100%;
  }
</style>

<div class="main">
  <form [formGroup]="consultantForm">
  <div mat-dialog-content class="content">
    
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input
          matInput
          type="text"
          formControlName="consultantname"
          placeholder="Nom du consultant"
        />
        <mat-error *ngIf="consultantForm.get('consultantname')?.invalid && consultantForm.get('consultantname')?.touched">
          {{ dataService.getErrorMessage('Nom',consultantForm.controls['consultantname'].errors) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Carte National</mat-label>
        <input
          matInput
          type="text"
          formControlName="consultantcin"
          placeholder="CIN"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
        <input
          matInput
          type="number"
          formControlName="mobile"
          
          placeholder="GSM"
        />
      </mat-form-field>
    </div>&nbsp;
    
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Date de naissance</mat-label>
        <input
          matInput
          type="date"
          formControlName="consultantbirthdate"
          
          placeholder="Date de naissance"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Adresse mail</mat-label>
        <input matInput type="text"
        formControlName="email"
        
        placeholder="Adresse mail" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Taux journalier</mat-label>
        <input matInput type="number"
        formControlName="tjm"
        
        placeholder="TJM" />
        <mat-error *ngIf="consultantForm.get('tjm')?.invalid && consultantForm.get('tjm')?.touched">
          {{ dataService.getErrorMessage('Taux journalier', consultantForm.controls['tjm'].errors) }}
        </mat-error>
        
      </mat-form-field>
    </div>&nbsp;
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Secteur d'activité</mat-label>
        <input matInput type="text"
        formControlName="secteuractivite"
        
        placeholder="Secteur d'activité" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Compétence métier</mat-label>
        <input matInput type="text" 
        formControlName="competencemetier"
        
        placeholder="Compétence métier" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Experience professionnel </mat-label>
        <textarea matInput type="text" 
        formControlName="experiencepro"
        
        placeholder="Experience professionnel" ></textarea>
      </mat-form-field>
    </div>
  
</div>
<div mat-dialog-actions>
    <button [disabled]="consultantForm.invalid" mat-raised-button color="primary" (click)="save()">Sauveguarder</button>
    <button mat-raised-button color="warn" (click)="close()">Annuler</button>
  </div>
</form>
</div>